*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.types-of-patients{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    max-width: 1200px;

}
.types-of-patients h1{
    font-size: 1.5rem;
}
.types-of-patients p{
    font-size: 0.8rem;
    line-height: 1.5;
    color: gray;
    
}

.description p{
    padding: 1rem;
}
.description h1{
    padding: 0.5rem;
}
.tag{
    display: block;
    min-width: 140px;
}
.tag h1{
    font-size: 0.5rem;
    width: 100px;
}
.tag p{
    font-size: 0.55rem;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 150px;
    min-width: 100px;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgb(234, 226, 189);
}


.info h1{
    font-size: 0.8rem;
    padding: 0.5rem;
}
.info p{
    font-size: 0.6rem;
    line-height: 1rem;
    font-family:'Times New Roman', Times, serif;
}
.images h1{
    background-color: rgb(234, 226. 189);
    border-radius: 5px;
    padding: 0.1rem;
}
.images{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
    flex-direction: column;
}
.images img{
    height: 10rem;
    padding: 1rem;
}
.grid-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
}
@media only screen  and (max-width : 500px){
    .tag{
        display: none;
    }
}
@media  screen  and (max-width:800px){
    .grid-section{
        grid-template-columns: 1fr    ;
     
    }
    
}


